* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selected {
    background-color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 2.5rem;
    
    .outter-component {
        flex: 1;
        margin: 2rem 0px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .inner-component {
            display: flex;
            gap: 20px;

            .inner {
                display: flex;
                flex-direction: column;
                gap: 20px;
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.33);
                padding: 15px;

                .form-inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    position: relative;

                    input {
                        padding: 10px 15px;
                        font-size: 14px;
                    }

                    ul {
                        position: absolute;
                        top: 85%;
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: normal;
                        letter-spacing: 0.5px;
                        text-transform: capitalize;
                        background-color: aquamarine;
                        z-index: 999;
                    }
                }
                
            }

        }

    }

    .other-component {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        padding: 0px 5rem;
        flex-direction: column;
        gap: 5px;

        .component {
            display: flex;
            gap: 2px;
            
            .pagination-container {
                display: flex;
                gap: 2px;
                
                button {
                    padding: 4px 5px;
                    cursor: pointer;
                }
            }
        }


        .customTable {
            width: 100%;
            background-color: #FFFFFF;
            border-collapse: collapse;
            border-width: 2px;
            border-color: #7EA8F8;
            border-style: solid;
            color: #000000;
    
            td,
            th {
                border-width: 2px;
                border-color: #7EA8F8;
                border-style: solid;
                padding: 5px;
            }

            td {
                button {
                    cursor: pointer;
                    padding: 10px 15px;
                    font-weight: 700;
                    border-radius: 4px;
                    letter-spacing: .5px;
                    border: none;
                    transition: 0.3s ease-in-out;
            
            
                    &:first-child:hover {
                        background-color: rgb(0, 255, 170);
                        border-radius: 15px;
                    }
            
                    &:last-child:hover {
                        background-color: rgb(255, 72, 0);
                        border-radius: 15px;
                    }
                }
            }
    
            thead {
                background-color: #7EA8F8;
            }
        }
        
    }

}

.modal {
    display: none;

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9998;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .delete-dialog {
            width: 300px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 20px;
            text-align: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            
        
            h2 {
                margin-top: 0;
            }
        
            p {
                margin-bottom: 20px;
            }
        
            .buttons {
                display: flex;
                justify-content: center;
                
                .cancel-button,
                .delete-button {
                    padding: 10px 20px;
                    border-radius: 4px;
                    cursor: pointer;
                }
        
                .cancel-button {
                    background-color: #adadad;
                    color: #000;
                    border: none;
                    margin-right: 10px;
                }
        
                .delete-button {
                    background-color: #fc4c4c;
                    color: #000;
                    border: none;
                }
        
                .cancel-button:hover,
                .delete-button:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.show-modal {
    display: block;
}


#suggestions {
    height: 200px;
    overflow-y: hidden;
}