<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSNative</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="outter-component">
            <div class="inner-component">
                <div class="inner">
                    <div class="form-inputs">
                        <label for="search">Current Fruits:</label>
                        <input type="text" id="search" autocomplete="off" placeholder="Fruits" />
                        <ul id="suggestions"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-component">
            <div class="component">
                <select id="selectCount" onchange="newItemsPerPage();">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="40">40</option>
                    <option value="100">100</option>
                </select>
                <div id="pagination-container" class="pagination-container"></div>
            </div>
            <table class="customTable">
                <thead>
                    <tr>
                        <th>Fruits</th>
                        <th>Descriptions</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="fruit-container">
                </tbody>
            </table>
        </div>
    </div>

    <script src="/js/sojourn.js"></script>
    <script src="/js//main.js"></script>
</body>
</html>